.stack-work/
hud-frontend/bower_components/
hud-frontend/node_modules/
hud-frontend/.pulp-cache/
hud-frontend/output/
hud-frontend/build/
hud-frontend/generated-docs/
hud-frontend/.psc-package/
hud-frontend/.psc*
hud-frontend/.purs*
hud-frontend/.psa*
*~